@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Gilda+Display&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root{
  --background: #060020;
  --dark-blue: #040022;
  --dark-blue-2: #06002080;
  --stars: hsl(56, 100%, 88%);
  --white: #fff;
  --gold: #ffe662;
  --header-font: "EB Garamond", serif;
  --body-font: "Gilda Display", serif;
  --accent-font: "Work Sans", sans-serif;
}

/* global */

html{
  scroll-behavior: smooth;
}
body{
  background-color: var(--background);
  background-size: cover;
  text-align: center;
  color: var(--white);
  padding:0;
  margin:0;
}
button {
  background-color: transparent;
  border-color: transparent;
  font-family: "Gilda Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: var(--white);
  transition-duration: 1s;
}
button:hover{
  color: var(--gold);
  transition-duration: 1s;
}
.active{
  color: var(--gold);
  text-decoration: underline;
  transition-duration: 0.1s;
}
.navbar{
  display: grid;
  position: fixed;
  grid-template-columns: 120px 120px 120px 120px 120px;
  height: 8vh;
  width: 100%;
  top: 0;
  left: 0; 
  right: 0; 
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding-top: 5px;
  margin-top: 0;
  margin-inline: auto; 
  z-index: 2;
}
.section{
  min-height: clamp(50vh, 85vh, none);
}
h1, h2, h3{
  font-family: var(--header-font);
  font-weight: 200;
}
p{
  font-family: var(--body-font);
}
.attribution{
 padding-top: 350px;
 font-size: 12px;
 color: gray
}
.attribution a{
  color: gray
}
a { color: var(--dark-blue); } 

#main-content.hidden, #mobile-modal.hidden{
  display: none;
  transition: opacity 0.4s ease;
}

#mobile-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: var(--dark-blue);
  color: white;
  transition: opacity 0.4s ease;
}

#mobile-modal div{
  position: relative;
  top: 35%;
  width: 100%;
  text-align: center;
  font-size: 1rem
}

@keyframes typing {
  0% {content: "Content loading";}
  33%   {content: "Content loading.";}
  66%  {content: "Content loading..";}
  99% {content: "Content loading...";}
}

.typewriter::before {
  content: "";
  animation: typing 1s linear infinite;
  animation-iteration-count: 5;
}


/* home */
#home-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#home-container p{
  text-align: right;
  font-size: 1rem;
}
#home-view svg{
  stroke: var(--gold);
  stroke-width: 3px;
  padding: 0 5px;
}
#download-cv{
  border: 1px solid var(--gold);
  width: 210px;
  height: 50px;
  margin-top: 10px;
  background-color: var(--dark-blue);
  transition-duration: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none; 
  box-shadow: 
    inset 0 0 15px rgba(255, 217, 0, 0.152),     
    inset 2px 2px 25px rgba(0, 0, 0, 0.638),     
    inset -2px -2px 3px rgba(255, 255, 255, 0.15), 
    0 8px 15px rgba(0, 0, 0, 0.526),           
    0 0 8px rgba(255, 217, 0, 0.301);            

}
#contacts svg{
  stroke-width: 1.5px;
  stroke: white;
  transition-duration: 1s;
}
#download-cv:hover{
 box-shadow: 
  inset 0 0 45px rgba(255, 215, 0, 0.2),    
  inset 3px 3px 10px rgba(0, 0, 0, 0.45),   
  inset -3px -3px 10px rgba(255, 255, 255, 0.09), 
  0 12px 35px rgba(0, 0, 0, 0.4),
  0 0 25px rgba(255, 215, 0, 0.18);   
}
#download-cv:hover svg{
  stroke: white;
  transition-duration: 1s;
  translate: 0 3px;
}

@keyframes bounce{
  25% {
     transform: translateY(-5px);
  }
  50% {
     transform: translateY(5px);
  }
  75% {
     transform: translateY(-3px);
  }
}

#nav-guide{
  display: block;
  width: fit-content;
  color: var(--gold);
  opacity: 60%;
  font-size: 0.75rem;
  animation: bounce 1.5s ease-in-out infinite;
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
}

/*projects*/

#projects-view{
  display: inline-grid;
  padding-top: 50px;
  grid-template-columns: 400px 400px;
  justify-content: center;
}
.project-card{
  border: 1px solid var(--gold);
  margin: 20px 10px 0 10px;
  background-color: var(--dark-blue);
  max-width: 400px;
  height: min-content;
  box-shadow: 
      inset 0 0 35px rgba(255, 217, 0, 0.152),     /* Gold inner glow */
      inset 2px 2px 50px rgba(0, 0, 0, 0.638),       /* Depth shadow */
      inset -2px -2px 6px rgba(255, 255, 255, 0.15), /* Highlight edge */
      0 8px 28px rgba(0, 0, 0, 0.526),             /* Outer separation */
      0 0 15px rgba(255, 217, 0, 0.301);            /* Subtle gold aura */
}
.project-card:hover{
      box-shadow: 
        inset 0 0 45px rgba(255, 215, 0, 0.2),      /* Enhanced gold glow */
        inset 3px 3px 10px rgba(0, 0, 0, 0.45),     /* Deeper shadow */
        inset -3px -3px 10px rgba(255, 255, 255, 0.09), /* Stronger highlight */
        0 12px 35px rgba(0, 0, 0, 0.4),
        0 0 25px rgba(255, 215, 0, 0.18);           /* Prominent gold aura */

}
.project-card h2{
  margin-top: 30px; 
  margin-bottom: 5px;
  font-size: 1.5rem;
}
.project-card svg{
  padding:0;
  margin:0;
  stroke: var(--gold);
  stroke-width:2px;
}
.project-card h3{
  margin: 3px 0 10px 0;
  font-size: 1rem;
}
.project-card p{
  font-family: var(--body-font);
  font-size: 0.85rem;
  text-align: left;
  padding: 10px 50px 0px;
  height: 50px;
}
.tech-stack{
  padding: 0 50px;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  gap: 5px;
}
.tech-stack span{
  border: 1px solid white;
  border-radius: 3px;
  padding: 10px;
  font-size: 0.75rem;
  font-family: var(--accent-font);
  min-width: 50px;
  min-height: 15px;
}
.tech-stack span.none{
  border: none;
  padding: 10px;
  width: 50px;
  min-height: 15px;
}
.project-card button{
  display: block;
  width: 80%; /* centers button with margin without messing up card layout*/
  margin: 30px 10%;
  height: 30px;
  font-family: var(--accent-font);
  font-size: 1rem;
  background-color: white;
  color: var(--dark-blue);
}
.project-card button:hover{
  border: 1px solid white;
  background-color: var(--background-color);
  color: white;
}
.project-card button path{
  stroke: var(--dark-blue);
  fill: var(--dark-blue);
}
.project-card button:hover path{
  stroke: white;
  fill: white;
}

/*experience*/

 #experience-view{
  background-color: var(--dark-blue-2);
  padding-top: 100px;
  stroke: var(--gold);
  stroke-width: 1px;
  align-items: center;
  justify-content: center;
}

.experience-container{
  position: relative;
  text-align: left;
  padding: 0 150px;
}
.experience-container h2{
  font-size: 2rem;
  margin: 5px;

}
.experience-container h3{
  font-size: 1.5rem;
  margin: 5px
}
.experience-container p{
  font-size: 1rem;
  text-indent: 1em; 
}
.experience-container li{
  font-size: 18px;
  line-height: 30px;
}
#professional-section, #academic-section{
  opacity: 1;
  pointer-events: auto;
  transition-delay: 0.2s; 
  transition: opacity 0.2s ease;
} 
#professional-section.hidden, #academic-section.hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
} 

/*skills*/

#skills-view{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 230px 230px 230px;
  gap:0 25px;
  padding-top: 80px;
  align-items: center;
  justify-content: center;
}
.skill-class{
  position: relative; 
  background: var(--dark-blue);
  width: 300px;
  height: 110px;
  padding: 40px 20px 40px 20px; 
  border: 2px solid var(--gold);
  
  box-shadow: 
    inset 0 0 35px rgba(255, 217, 0, 0.152),
    inset 2px 2px 50px rgba(0, 0, 0, 0.638),  
    inset -2px -2px 6px rgba(255, 255, 255, 0.15),
    0 8px 28px rgba(0, 0, 0, 0.526),    
    0 0 15px rgba(255, 217, 0, 0.301);      

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px; 
  transition: all 0.3s ease;
}
.skill-class:hover{
  box-shadow:  
    inset 0 0 45px rgba(255, 215, 0, 0.2),   
    inset 3px 3px 10px rgba(0, 0, 0, 0.45),  
    inset -3px -3px 10px rgba(255, 255, 255, 0.09), 
    0 12px 35px rgba(0, 0, 0, 0.4),
    0 0 25px rgba(255, 215, 0, 0.18);     
}
.skill-class div{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: var(--header-font);
  background: var(--dark-blue);
  border: 1px solid var(--gold);
  width: 200px;
  height: 40px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(0.75rem, 1.2rem, none);
  box-shadow: 
    inset 0 0 15px rgba(255, 217, 0, 0.152),  
    inset 2px 2px 25px rgba(0, 0, 0, 0.638),   
    inset -2px -2px 3px rgba(255, 255, 255, 0.15), 
    0 8px 15px rgba(0, 0, 0, 0.526),  
    0 0 8px rgba(255, 217, 0, 0.301);      
  z-index: 1; /* Above the content */
  pointer-events: none;
}
.skill-class span{
  border: 1px solid var(--gold);
  border-radius: 15px;
  padding: 8px 15px;
  margin: 5px 2px;
  font-family: var(--accent-font);
  font-size: clamp(0.5rem, 0.8rem, 15px);
}

/* about */
#about-view{
  background-color: var(--dark-blue-2);
  padding:5% 10%;
}
#about-view svg{
  stroke: var(--gold);
  stroke-width: 3px;
  padding: 0 5px;
  text-align: center;
}
#about-view p{
  text-indent: 3em;
  text-align: justify;
  margin: 20px 50px;
  font-size: 0.9rem;
}

.notion{
   border: 1px solid var(--gold); 
   margin-top: 10px;
  box-shadow: 
    inset 0 0 35px rgba(255, 217, 0, 0.152),
    inset 2px 2px 50px rgba(0, 0, 0, 0.638),  
    inset -2px -2px 6px rgba(255, 255, 255, 0.15),
    0 8px 28px rgba(0, 0, 0, 0.526),    
    0 0 15px rgba(255, 217, 0, 0.301);    
}

/* background animation */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

/* for reactive UI */
@media (max-width: 600px) {

#home-view{
  height: 85vh;
}

  .section{
  margin: 0 1rem;
  }
  
  #experience-view {
    padding-left: 0;
    padding-right: 0;
  }
  #about-view{
    padding:10% 0;
  }

  .experience-container{
  padding: 0 10px;
}

  #about-view p{
  margin: 20px 20px ;
  }

  .experience-container h2{
  font-size: 1.5rem;

}
.experience-container h3{
  font-size: 1rem;
}
.experience-container p{
  font-size: 0.75rem;
}
.experience-container li{
  font-size: 14px;
  line-height: 20px;
}
  

  .navbar{
    grid-template-columns: 50px 50px 70px 50px 50px;
    margin: 0;
  }

  .navbar button{
    font-size: 1rem;
  }

  #projects-view{
  display: block;
  padding: 0px;
  }

  #skills-view{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

  .skill-class{
    width: 300px;
    height: 100px;
    padding: 20px, 20px; 
    margin: 3vh 0;
  }

  .skill-class span{
    padding: 5px 15px;
    margin: 0;
  }
}